.gh-powered-by {
  display: none !important;
}

@media (max-width: 767px) {
  .gh-powered-by, .gh-foot-menu {
    display: block;
  }
  .gh-foot-menu .nav {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
}
