.gh-powered-by {
  display: none !important;
}

@media (max-width: 767px) {
  .gh-powered-by, .gh-foot-menu {
    display: block;
  }
  .gh-foot-menu .nav {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    column-gap: 12px;
  }
}
